
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../img/img_main.jpg') no-repeat center center fixed; 
  background-size: cover; 
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #49423C;
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 30px;
  width: clamp(180px, 50%, 410px);
  height: 38px;
  /*sem virgula entre os valores esq dire dire esq*/
  border-radius: 0px 30px 30px 0px;
  text-align: left;
  /*x, y, blurn, larg cor - insert para por dentro do obj*/
  /*ex: box-shadow: 2px 7px 9px 1px #858585, inset 2px 7px 9px #858585;*/
  box-shadow: inset 2px 7px 9px #858585;
  
}

.logo{
  height: 100%;
  margin: 0.4rem;
  margin-left: -6px;
  margin-right: 23px;
  /* aumenta 160% já que 100% é pequeno*/
  transform: scale(1.6); 
  /* fixa o lado esq e cresce para o centro, algo assim */
  transform-origin: left center; 
}

/*base menu edit_txt*/
form {
  max-width: 400px;
  margin: 2rem auto;
  background: rgba(255,255,255,0.9); 
  padding: 2rem;
  border-radius: 30px;
}

label {
  display: block;
  margin-top: 1rem;
  
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}


button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 2px 4px 5px #b4b4b4, -2px -2px 5px #d6d6d6;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  box-shadow: inset 6px 6px 12px #d9d9d9, inset -6px -6px 12px #ffffff;
}


button.out {
  margin-top: 100vh; 
  animation: entrar 2s forwards ease-in-out;
}

@keyframes entrar {
  0% { margin-top: 100vh; }
  100% { margin-top: 1rem; } 
}

button.out:active {
  animation: sair 2s forwards ease-in-out;
  box-shadow: inset 6px 6px 12px #d9d9d9, inset -6px -6px 12px #ffffff;
}

@keyframes sair {
  0% { margin-top: 1rem; }
  100% { margin-top: 100vh; }
}

/*btn lista_serv*/
.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 2px 4px 5px #b4b4b4, -2px -2px 5px #d6d6d6;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  box-shadow: inset 6px 6px 12px #d9d9d9, inset -6px -6px 12px #ffffff;
}


nav {
  margin-top: 0.5rem;
  display: inline-block; 
  text-align: center;
  
}

nav a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background: #f7f5f5;
  box-shadow: 2px 4px 12px #030006, -2px -2px 12px #7a4a87;
  text-decoration: none;
  color: #3d5261;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

nav a:hover {
  transform: translateY(-2px);
}

nav a:active {
  box-shadow: inset 6px 6px 12px #d9d9d9, inset -6px -6px 12px #ffffff;
}

main h2 {
  text-align: center;   /* centraliza */
  margin-top: 3rem;     /* desce o texto */
  margin-bottom: 1rem;  /* espaço entre o texto e o form */
  color: #030303;          /* ajusta a cor se quiser */
}
/* --- TABELA --- */
table {
  width: 90%;
  margin: 1rem auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  overflow: hidden; 
}

table th, table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

table th {
  background-color: #f0f0f0;
}