<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Administração</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body class="back_index">
    <div class="container_cad">
        <h2>Área Admistrativa</h2>
        
    <div class="button-top">
        <a href="{{ url_for('auth.login') }}" class="btn btn_log">Logout</a>
        <a href="{{ url_for('cadastrar.cadastrar_cliente') }}" class="btn btn_cad">Cad Cliente</a>
        <a href="{{ url_for('clientes.listar_clientes') }}" class="btn btn_proj">List Cliente</a>
        <a href="{{ url_for('cadastrar.cadastrar_servico') }}" class="btn btn_proj">Cad Serviço</a>
        <a href="{{ url_for('servicos.listar_servicos') }}" class="btn btn_proj">List Serviço</a>
    </div>

</div>
</body>