{% extends 'base.html' %}

{% block content %}
    <header class="header_principal">
        <div class="header_logo">
            <img class="logo" src="{{ url_for('static', filename='img/logoatelie.png') }}" alt="Logo Ateliê Online" />
            <h1 class="header_txt_Bem">Contato</h1>
        </div>

    </header>
    <div class="form_container contrato">
        <h2>Ateliê Online</h2>
        <p>Telefone: (11) 994042022</p>
        <p>Email: contato@atelie.com</p>
        <p>Endereço: Rua Dos tecidos n°404</p>
        <p>Bairro: Da Linha Sp-Capital</p>
        <p>cep:040202-00</P>
    </div>
{% endblock %}

 <!-- atelie_online/template/contato.html -->

