<!doctype html>
<html><head><meta charset="utf-8"><title>Clientes</title><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"></head>
<body class="back_adm">
  <h1>Lista de Clientes</h1>
  <table>
    <thead><tr><th>ID</th><th>Nome</th><th>Email</th><th>Ações</th></tr></thead>
    <tbody>
      {% for c in clientes %}
      <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.email }}</td>
        <td>
          <form method="post" action="{{ url_for('clientes.excluir_cliente', id=c.id) }}" style="display:inline">
            <button type="submit">Excluir</button>
          </form>
        </td>
      </tr>
      <a href="{{ url_for('admin_dashboard') }}" class="btn_baixo">Voltar</a>
      {% endfor %}
    </tbody>
  </table>
</body></html>

<!--atelie_online\templates\listar_clientes.html-->

