{% extends 'base.html' %}

{% block content %}
<header class="header_principal">
    <div class="header_logo">
        <img class="logo" src="{{ url_for('static', filename='img/logoatelie.png') }}" alt="Logo Ateliê Online" />
        <h1 class="header_txt_Bem">Projeto</h1>
    </div>
<div class="form_container contrato">
    <h2>Projeto - Faculdade Impact</h2>
    <p>TO Ateliê Online tem como objetivo modernizar a forma como ateliês atendem seus clientes, permitindo:</p>
    <p>- Solicitação de ajustes e consertos de roupas de forma online.</p>
    <p>- Envio de peças para customização de maneira prática.</p>
    <p>- Serviços de estamparia sob demanda.</p>
    <p>- Controle do fluxo de pedidos, orçamentos e status do serviço.</P>
    <p>Atualmente, o projeto encontra-se em desenvolvimento, buscando oferecer uma experiência completa tanto para os clientes quanto para o time do ateliê.</P>
    <br>
    <br>
    <p>Desenvolvedores:</P>
    <br>
    <p>Alessandra F R </P>
    <p>Enzo P C</P>
    <p>Guilhere F  F</P>
    <p>Matheus B F</P>
    <p>Rafaela W R</p>
</div>
{% endblock %}

 <!-- atelie_online/template/projeto.html -->

 