{% extends 'base.html' %}

{% block content %}
<header class="header_principal">
    <div class="header_logo">
        <img class="logo" src="{{ url_for('static', filename='img/logoatelie.png') }}" alt="Logo Ateliê Online">
        <h1 class="header_txt_Bem">Registro de Cliente</h1>
    </div>
</header>

<div class="form_container cadastro">
    <h2>Criar Conta</h2>
    
    <form action="{{ url_for('register') }}" method="POST">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input id="nome" type="text" name="nome" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input id="senha" type="password" name="senha" required>
        </div>

        <button type="submit">Cadastrar</button>
    </form>

    <p>Já tem conta? <a href="{{ url_for('login') }}">Faça login</a></p>
</div>
{% endblock %}
